.btn {
  cursor: pointer;
  box-sizing: border-box;

  width: 55px;
  height: 55px;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: var(--root-black-3);
  color: var(--root-white-1);

  & svg {
    width: 24px;
    height: 24px;
    fill: var(--root-white-1);
  }
}

.animation {
  &:hover {
    filter: brightness(1.5);
  }
  &:active {
    filter: brightness(0.6);
  }
}
