.btn {
  cursor: pointer;
  box-sizing: border-box;

  width: 30px;
  height: 30px;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--root-black-2);
  color: var(--root-white-1);

  & svg {
    width: 16px;
    height: 16px;
    fill: var(--root-white-1);
  }
}

.animation {
  &:hover {
    filter: brightness(2);
  }
  &:active {
    filter: brightness(0.6);
  }
}
