.container {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: grab;
}

.container:active {
  cursor: grabbing;
}

.label {
  box-sizing: border-box;
  position: absolute;
  font-size: 10px;
  z-index: -1;
  bottom: calc(100% - 1px);
  padding: 5px 15px;
  white-space: nowrap;
  text-align: center;
  background-color: var(--theme-bgOpposite);
  color: var(--theme-node);
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content {
  box-sizing: border-box;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  white-space: pre;
  flex-direction: column;

  background-color: var(--theme-node);
  color: var(--theme-bgOpposite);

  border: 1px solid var(--theme-bgOpposite);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content > * {
  margin: 8px 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.content * {
  font-size: 14px;
  line-height: 145%;
}

.content h1 {
  font-size: 30px;
  font-weight: 600;
}
.content h2 {
  font-size: 25px;
  font-weight: 600;
}
.content h3 {
  font-size: 20px;
  font-weight: 600;
}

.content strong {
  background-color: #e9ff97;
  color: var(--root-black-1);
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 2px;
  border-radius: 5px;
  font-weight: 500;
}

.content em {
  font-style: italic;
}

.content del {
  text-decoration: line-through;
}

.content pre {
  border-radius: 7px;
  padding: 25px 20px;
  background-color: var(--theme-point);
}

.content pre > code {
  font-family: 'Source Code Pro', monospace;
  background-color: transparent;
}

.content p > code {
  font-family: 'Source Code Pro', monospace;
  background-color: var(--theme-point);
  margin: 0 3px;
  padding: 2px 4px;
  border-radius: 5px;
}

.content img {
  display: block;
  margin: 14px auto;
  border-radius: 7px;
  width: 100%;
  max-width: 225px;
}

.content ul {
  line-height: 0;
  padding-left: 15px;
  list-style-type: disc;
}
.content ol {
  line-height: 0;
  padding-left: 15px;
  list-style-type: decimal;
}

.content blockquote {
  border-radius: 7px;
  position: relative;
  line-height: 110%;
  padding: 0 20px;
  background-color: var(--theme-point);
}

.content blockquote::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--root-primary-1);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.content hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--theme-bgOpposite);
}

.content table {
  width: 100%;
  border-radius: 5px;
  border-collapse: separate;
  background-color: var(--theme-point);
}

.content thead {
  font-weight: 500;
}

.content thead > :first-child > th:first-child {
  border-top-left-radius: 7px;
}

.content thead > :first-child > th:last-child {
  border-top-right-radius: 7px;
}

.content tbody > :last-child > td:first-child {
  border-bottom-left-radius: 7px;
}

.content tbody > :last-child > td:last-child {
  border-bottom-right-radius: 7px;
}

.content td,
.content th {
  box-sizing: border-box;
  padding: 4px 12px;
  border: 1px solid var(--theme-bgOpposite);
  border-bottom: 0px;
  border-right: 0px;
}

.content th {
  border-bottom: 2px solid var(--theme-bgOpposite);
}

.content tr:last-child td {
  border-bottom: 1px solid var(--theme-bgOpposite);
}

.content th:last-child,
.content tr > td:last-child {
  border-right: 1px solid var(--theme-bgOpposite);
}

.content tr:nth-child(2n + 0) {
  background-color: var(--theme-node);
}

.content a {
  cursor: pointer;
  color: var(--root-primary-1);
  padding: 0 3px;
  display: inline-block;
  text-decoration: underline;
  transition: transform 0.3s ease;
}

.content a::before {
  content: '🔗';
  width: 100%;
  font-size: 12px;
  padding-right: 5px;
  transition: transform 0.3s ease;
}

.content a:hover {
  transform: translateY(-5px);
}

.content input[type='checkbox'] {
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: var(--theme-bg);
  border: 1px solid rgba(var(--theme-bgOpposite-rgb), 0.4);
  overflow: hidden;
  border-radius: 3.5px;
}

.content input[type='checkbox']:disabled::after {
  content: ' ';
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: 2px;
}

.content input[type='checkbox']:checked {
  pointer-events: none;
  background-color: var(--root-primary-3);
}

.content input[type='checkbox']:checked::after {
  content: '✓';
  display: inline-block;
  font-size: 18px;
  color: var(--root-black-1);
  position: relative;
  top: 2px;
}
