@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.msg {
  position: fixed;
  top: 10%;
  left: 50vw;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadeOut 2s ease-out forwards;
}

.alert {
  background-color: rgba(var(--root-color-4-rgb), 0.3);
  color: var(--theme-bgOpposite);
  border: 1px solid var(--root-color-4);
}

.normal {
  background-color: rgba(var(--root-color-3-rgb), 0.3);
  color: var(--theme-bgOpposite);
  border: 1px solid var(--root-color-3);
}
