.wrapper {
  position: relative;
  z-index: 1;
}

.textarea {
  width: 350px;
  height: 100%;
}

.side {
  position: absolute;
  left: 100%;
  bottom: 0;
  height: calc(100% - 40px);
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
