.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
}

.editor {
  width: 350px;
  height: 100%;
}

.side {
  height: 100%;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.errors {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.errors::-webkit-scrollbar {
  display: none;
}
