.wrapper {
  position: relative;
  flex: 1;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btns {
  position: absolute;
  display: flex;
  gap: 5px;
  flex-direction: column;
  bottom: 5px;
  right: 5px;
}
