:root {
  --root-color-1: #f6ee94;
  --root-color-1-rgb: 246, 177, 148;

  --root-color-2: #2679ff;
  --root-color-2-rgb: 24, 97, 255;

  --root-color-3: #a8c7fa;
  --root-color-3-rgb: 168, 199, 250;

  --root-color-4: #f88884;
  --root-color-4-rgb: 143, 80, 77;

  --root-color-5: #5e3e3e;
  --root-color-5-rgb: 94, 62, 62;

  --root-white-1: #e9ecf1;
  --root-white-1-rgb: 233, 236, 241;

  --root-black-1: #141414;
  --root-black-1-rgb: 20, 20, 20;

  --root-black-2: #1b1d1e;
  --root-black-2-rgb: 27, 29, 30;

  --root-black-3: #2e3034;
  --root-black-3-rgb: 46, 48, 52;
}

.light {
  --theme-bgOpposite: #141414;
  --theme-bgOpposite-rgb: 20, 20, 20;

  --theme-bg: #e9ecf1;
  --theme-bg-rgb: 233, 236, 241;

  --theme-node: #f2f4f8;
  --theme-node-rgb: 242, 244, 248;

  --theme-point: #e1e7ec;
  --theme-point-rgb: 225, 231, 236;
}

.dark {
  --theme-bgOpposite: #e9ecf1;
  --theme-bgOpposite-rgb: 233, 236, 241;

  --theme-bg: #141414;
  --theme-bg-rgb: 20, 20, 20;

  --theme-node: #1b1d1e;
  --theme-node-rgb: 27, 29, 30;

  --theme-point: #2e3034;
  --theme-point-rgb: 46, 48, 52;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  src: url('../shared/assets/font/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Noto_Sans_KR';
  font-style: normal;
  font-weight: 400;
  src: url('/src/shared/assets/font/Noto_Sans_KR/static/NotoSansKR-Regular.ttf');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
  font-family: 'Noto_Sans_KR';
  font-style: normal;
  font-weight: 500;
  src: url('/src/shared/assets/font/Noto_Sans_KR/static/NotoSansKR-Medium.ttf');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
  font-family: 'Noto_Sans_KR';
  font-style: normal;
  font-weight: 600;
  src: url('/src/shared/assets/font/Noto_Sans_KR/static/NotoSansKR-Medium.ttf');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
  font-family: 'Noto_Sans_KR';
  font-style: normal;
  font-weight: 700;
  src: url('/src/shared/assets/font/Noto_Sans_KR/static/NotoSansKR-Bold.ttf');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

body {
  font-family: 'Noto_Sans_KR', sans-serif;
  letter-spacing: 0.3px;
}
